body,html {
margin: 0;
box-sizing: border-box;
background-color: aliceblue;
letter-spacing: 1px;
overflow-x: hidden;
}

.nav{
background: linear-gradient(to bottom, #0000007a, #0000007a),url("./img/home-bg.jpg");
padding: 1rem;
display:flex;
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 600px;
justify-content: space-around;
}

.nav img{
padding:0 1rem;
cursor: pointer;
/* margin-right: auto; */
}
  
.sm-name{
padding: 0 5px;
color: #fff;
cursor: pointer;
}

.navlinks a{
padding: 0 0px 0 10px;
color:#fff;
text-decoration:none;
}

.nav input{
width:100%;
height:38px;
padding:1rem;
outline:none;
border:none;
font-size: 15px;
margin: auto;
color: #111;
letter-spacing: 1px;
border-radius: 5px;
}
  
@media(max-width:1290px){
.nav{
flex-direction: column;
padding: 0 1rem;
align-items: center;
height: 200px;
background-attachment:inherit;
}

.navlinks{
margin-bottom: 1rem;
}

.nav input{
margin-bottom: 1rem;
}
      
.nav img{      
margin: auto;
padding: 1rem 0;
width: 340px;
}
        
      
.navlinks button{
margin-left: 3px;
}
      
          
.navlinks a{
padding: 10px;
margin: auto;
font-size: 13px;
}
    
}
      
@media(max-width:968px){
.navlinks{
margin-bottom: 1rem;
}
}
@media(max-width:375px){
.navlinks a{
font-size: 10px;
}
}
@media(max-width:280px){
.navlinks a{
font-size: 6px;
}
}
/* nav css stops here */

.hope{
border-top: solid 1px;
margin-bottom: 2rem;
}

.hopeblock{
text-align:center;
color:#fff;
width:100px;
height:100px;
display:flex;
align-items: center;
place-content: center;
background: #aa9055;
font-size: 24px;
font-weight: 300;
line-height: 1.2;
}

.godsmsg{
text-align: center;
margin: auto;
width: 50%;
animation: fadetext 1.7s;  
}

.godsmsg h1{
color: #aa9055;
font-weight: 300;
line-height: 1.2;
font-size: 50px;
}

.godsmsg p{
font-size: 1.25rem;
font-weight: 300;
line-height: 1.5;
}

@keyframes fadetext{
0%{
opacity: 0;
transform: translateY(100px);}
100%{
opacity: 1;
transform: translateY(0);
}
}

.flexpastor {
display: flex;
background-color: #dfdfdf;
margin-bottom: 3rem;
height: auto;
width: auto;
align-items: center;
}

.pastor-img{
margin-bottom: 1rem;
}

.events-tagline{
display: grid;
background-color: #dedede;
color: #9e7b11;
height: 350px;
width: 100%;
place-items: center;
text-transform: uppercase;
letter-spacing: 5px;
border-bottom: solid 1px #9e7b11;
}

.events-tagline h1{
font-weight: 300;
font-size: 2.5rem;
}

.event-section{
display: grid;
place-items: center;
place-content: center;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
gap: .5em;
padding: .8rem 0;
text-align: center;
margin-bottom: 2rem;
}

.card{
    width: 350px;
    padding: 1rem 0;
    margin: .3rem 0;
    text-transform: uppercase;
}

.card-title{
    margin-bottom: 1rem;
    font-weight: 300;
}

.lead{
    font-size: 1.25rem;
        font-weight: 300;
    
}

.card-btn{
    background-color: #835e0a;
    color: #fff;
    padding: 1rem;
    border: none;
    width: 50%;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    margin: auto;
}

.card-btn:hover{
    background-color: #dc9b09;
    
}
.card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 333px;
  }

@media(max-width:1630px){
.flexpastor{
flex-direction: column;
align-items: center;
text-align: center;
}
}

@media(max-width:1000px){
.pastor-img img{
height: auto;
width: 100%;
}
}




/* home css */

.flex-visit-block{
text-align: center;
width: 75%;
}

.flex-visit-block p{
font-size: 1.25rem;
font-weight: 300;
margin-bottom: 1rem;
line-height: 40px;
}



.join-container{
display: flex;
align-items: center;
padding:  1rem;
}


.join-container img{
width: 100%;
height: auto;
}

.join-title {
background-color: #fff;
width: 100%;
margin-right: 2rem;
margin-left: 2rem;
}

.join-title h1{
text-align: center;
color: #9e7b11;
font-weight: 300;
margin-top: 20%;
}

.join-title p{
text-align: center;
line-height: 40px;
}

.visitform{
display:grid;
margin: auto;
width: 50%;
padding:2px}
    
.visitform input{
height:46px;
font-size: 15px;
outline: none;
background: transparent;
border: none;
margin-bottom:24px}

.visitform input:hover{
border-bottom: solid 1px #000;
}


.visitform label{
color:#5a471d;
line-height:40px}
    
.visitform p a{
color:#fff;
text-decoration:none}
    
    .contact-btn{
border-width:0;
background:linear-gradient(90deg,#74722a 0,#ac9e23 100%);
width:211px;
height:64px;
text-align:center;
font-size:24px;
outline:0;
color: #fff;
text-decoration: none;
letter-spacing: 3px;
transition: 0.5s;
cursor:pointer;
margin:3rem auto}
    
.contact-btn:hover{
opacity: 0.5;
}

 .visitform textarea{
margin-bottom: 3rem;
resize: none;   
font-size: 15px;
outline: none;
width: 100%;
}

.successVisit{
display: grid;
height: 100svh;
place-items: center;
background: linear-gradient(to bottom, #000000a6, #000000a6),url("./img/church-events.jpg");
background-size: cover;
background-position: center;
}

@media(max-width:1300px){
.join-container {
flex-direction: column;
}

.sec-join-container{
flex-direction: column-reverse;
}
}

@media(max-width:768px){
.visitform{
width: 86%;
margin: auto;
padding: 0 15px;
}

.successVisit img{
    width: 385px;
}

.visitform textarea{
width: 100%;
}

.sec-join-container{
flex-direction: column-reverse;
}
}
/* visit us css stops here */

.event-section-list {
    display: flex;
    place-items: center;
    place-content: center;
   ;
  }

/* events css stops here */
.footer{
padding: 3px;
background: #8c6900;
text-transform: capitalize;
text-align: center;}

.support-itruth-box{
border-bottom: solid 1px #fff;
}

.support-headline{
font-size: 30px;
color: #fff;
margin-bottom: 2rem;
letter-spacing: 2px;
}



.support-flex-box{
margin-bottom: 2rem;
padding: 1rem 0 0 0;
}
      
.support-flex-box button{
background-color: #ffb300;
border: none;
color: #fff;
padding: 1rem;
text-transform: uppercase;
cursor: pointer;
transition: .3s;
margin: auto;}

.flex-footer{
display: flex;
place-content: center;
border-bottom: solid 1px #fff;
}

.footer-tablebox{
width: 100%;
border-right: solid 1px #fff;
padding-bottom: 10px;
padding-top: 10px;
}
  
  
   
.footer-headline{
color: #fff;
font-size: 24px;
font-weight: 600;
letter-spacing: 2px;
padding: 5px 0;
border-bottom: solid 1px #fff;
}

.footer-navlink{
margin: auto;
padding: 0;
}

.footer-navlink li{
list-style-type: none;
}

.footer-navlink a{
text-decoration: none;
color: #fff;
font-size: 18px;
line-height: 2.5;
cursor: pointer;
}
  
.footer-logo-box{
margin: auto;
}

.footer-logo-box img{
cursor: pointer
} 

@media(max-width:968px){
.footer-headline{
border-bottom: none
}

.footer-tablebox{
border-right: none;
border-left: none !important;
}

.flex-footer{
display: flex;
place-content: center;
flex-direction: column;
}
  
.footer-navlink{
border-bottom: solid 1px #fff;
}
}

@media(max-width:768px){
.navfooter{
flex-direction: column;
}

.navfooter img{
width: 444px;
margin: auto;   
}
}
   
@media(max-width:500px){
.navfooter img{
width: 400px;
}
}
/* footer css stops here */
    
.error{
line-height: 2;
text-align: center;
letter-spacing: 1px;
color: red;
}
.success{
line-height: 2;
text-align: center;
letter-spacing: 1px;
color: green;
}
  
.submitbtn:disabled {
opacity: 0.5;
cursor: not-allowed;
}

.password-strength {
margin-top: 8px;
font-size: 14px;
}
  
.weak {
color: red;
}
  
.moderate {
color: #ffa600;
}
  
.strong {
color: green;
}
    
